@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Homenaje');

@media print {
  body{
    color: #000
  }
}

figcaption{
  font: helvetica;
  font-style: normal;
  font-family: fantasy;
  font-size: 30px;
}

h1{
  page-break-before: always;
}

h1, h2, h3, h4, h5, h6{
  page-break-after: avoid;
}

@page {
  size: 5.5in 8.5in;
}

.fn {
  float: footnote;
}

#container{
  width: 960px;
  margin: 0 auto;
}

nav{
  text-align: center;
  border-bottom: 100px;
  position: fixed;
  overflow: auto;
  height: 100%;
}


h1{
  font-family: 'Anton', sans-serif;
  color: #7B68EE;
  font-size: 55px;
  text-shadow: 4px 4px 4px black;
  text-align: center;
}

h6{
  float: right;
  font-size: 30px;
}

h7 {
  color: black;

}

#headshot{
  float: left;
}

body {
  background-color: #E6E6FA;
  font-family: "Arial", sans-serif;
  color: #66b2ff;
  text-align: left;
  max-width: 960px;
  max-height: 960px;
  overflow: auto;
}

{ border: 1px solid gray }

p {
  float: right;
  position: relative;
  text-align: center;
  width: 250px;
  border: 3px dotted #0088dd;
  padding: 5px;
  margin: 25px;
  margin-top: 0;
}


nav ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

p.intro:first-letter{
  font-size: 150%;
}

h3 {
  font-size: 30px;
  color: blue;
  text-shadow: 1px 1px 1px black;
  font-family: 'Homenaje'
}

main{
  align-items: center;
  position: relative;
  border: 3px;
}

h4 {
  font-size: 20px;
  color: deeppink;
}

a {
  color: #FA8072;
  text-decoration: none;
}

a :active {
  color: #0000CD;
}

a :visited{
  color: #FFFF00;
  text-decoration: line-through;
}

a :hover {
  color: #7FFF00;
  text-decoration: none;
}
